
@{
    ViewBag.Title = "SecretPage";
    Layout = "~/Views/Shared/_simpleLayout.cshtml";
}

<h2>SecretPage</h2>

<div class="jumbotron" ng-controller="HomeController">
    Ah Ah ah, you didn't say the magic word.  <button class="btn btn-danger btn-lg" ng-click="Logout()">Logout</button>
</div>