<form ng-submit="submitLogin()" name="loginForm" novalidate style="max-width:500px;margin:0 auto;float:none;">
    <div class="panel panel-primary" >
        <div class="panel-heading">Login</div>
        <div class="panel-body">
            <label for="username">Username:</label>
            <input ng-model="loginUsername" class="form-control" name="username" id="username" required type="text"/><span ng-if="loginForm.username.$error.required" class="pull-right error-icon" style="padding:3px;">Required</span><br /><br />

            <label for="password">Password:</label>
            <input ng-model="loginPassword" class="form-control" name="password" id="password" type="password" required /><span ng-if="loginForm.password.$error.required" class="pull-right error-icon" style="padding:3px;">Required</span><br /><br />

            <button class="btn btn-lg btn-success pull-right" type="submit" ng-disabled="loginForm.$invalid" style="width:100%;">Login</button>
        </div>
    </div>
</form>